@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Bi401f20 hjemmesiden</h1>
    <p>Data ligger p.t. i datamappen under root som en json/txt fil</p>
    <p>I Models mappen er der c# repræsentationer af dataen i datamappen/json filen</p>
    <p>I Service Mappen er der den funktion der kan opsnappe modellen og lave en liste eller array med data, som man kan printe på en hjem</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
